body {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Consolas", "Courier New", monospace;
  text-align: center;
}

.box {
  background-color: beige;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
  min-width: 2rem;
  display: inline-block;
}

.box-wide {
  width: 8rem;
}

.box:focus {
  outline: none;
}

button {
  border: none;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Consolas", "Courier New", monospace;
}

button:hover {
  opacity: 90%;
}
button:active {
  opacity: 70%;
}

#color-red {
  color: red;
}

#color-green {
  color: green;
}

#color-blue {
  color: blue;
}   